header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
}


header div {
 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #f3b408d0;
  
}

 
header div h2 {
  color: whitesmoke;
}