form {
  display: block;
  
  
}

form textarea {
  width: 100%;
  border: none;
  background-color: inherit;
  resize: none;
  font-size: 0.75em;
 
}

textarea:focus, input:focus {
  outline: none;
}

form div {
  font-family: 'Bungee', cursive, sans-serif;
  margin-top: 0.5em;
  border-top: 4px solid black;
  padding-top: 0.5em;
  display: flex;
  justify-content:space-between;
}

form button {
  
 
  background-color: #4056A1;
  color: #ffffff;
}